
// Color Schemas

$theme-ffffff:      #ffffff;
$theme-70b429:      #70b429;
$theme-000000:      #000000;
$theme-e6ebec:      #e6ebec;
$theme-c09218:      #c09218;
$theme-fd0101:      #fd0101;
$theme-d49c12:      #d49c12;
$theme-676767:      #676767;
$theme-bcbbbb:      #bcbbbb;
$theme-eff3fa:      #eff3fa;
$theme-aeb0b1:      #aeb0b1;
$theme-424242:      #424242;